extends layout

block content
    h1= title
    

    // Wrapper
    #wrapper

        // asset LIST
        h2 Asset List
        #assetList
            table
                thead
                    th Asset Category
                    th Customer Id
                    th Delete?
                tbody
        // /asset LIST

        // Personal LIST
        h2 Personal Details
        #personalDetailsList
            table
                thead
                    th Customer Id
                    th Customer Name
                    th Delete?
                tbody
        // /Personal LIST

    // /WRAPPER